<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" *ngIf="authService.isLoggedIn()">
  <a class="navbar-brand" routerLink="/home" >Oscar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
  
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <!-- just want to verify is admin will be show up-->
      <li class="nav-item" *ngIf="authService.isLoggedIn() && authService.currentUser.user_role == 1">
        <a class="nav-link" routerLink="/users">Admin Role</a>
      </li>

      <!-- just want to verify is user will be show up-->
      <li class="nav-item" *ngIf="authService.isLoggedIn() && authService.currentUser.user_role == 2">
        <a class="nav-link" routerLink="/users">User Role</a>
      </li>

      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" routerLink="/login" >Login</a>
      </li>
    
      <li ngbDropdown class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
        <a  class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle *ngIf="authService.isLoggedIn()">{{authService.currentUser.user_name}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/user"  *ngIf="authService.isLoggedIn()">Users</a>
          <a class="dropdown-item pointerclick" (click)="authService.logout()" *ngIf="authService.isLoggedIn()">Log Out</a>
        </div>
      </li>
    </ul>

  </div>
</nav>